html, body {
    margin: 0;
    height: 100%;
    background-color:#ffffff;
}
body {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: brown;
}

.header {
    background: #637564; /* Цвет фона */
    margin: 0;
    height: 65px;
    font-family: Arial, sans-serif; /* Шрифт */
    border: 1px inset rgb(127, 158, 126);
}

.header a {
    color: #fff;
    /* Белый цвет */
    text-decoration: none;
    /* Убираем подчёркивание у ссылок */
    padding: 0 0 5px;
    /* Поле снизу */
}

/* Обрашаемся к первому елементу меню тегу "a" */
.header li:nth-child(2) a {
    color: rgb(231, 191, 13);
}

/* Выдиляет ссылки меню другим цветом при наведении*/
.header li a:hover {
    color: rgb(51, 80, 52);
}

.header li a:active {
    color: coral;
}

.li_menu {
    display: inline-block;
    float: right;
    list-style: none; /* Убираем маркеры */
    width: 100px; /* Ширина */
    height: 90%;
    margin-top: 2px;
    text-align: center; /* Выравниваем по центру */
    border: 1px outset rgb(104, 138, 104);
    border-bottom-right-radius: 10px; /* Закругляем углы */
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.logo {
    float: left;
    text-align: center;
    font-size:20px;
    position: relative;
    left: -35px;
    margin-top: 12px;
    color: #eee;
}

.logo2 {
    float: left;
    text-align: right;
    font-size:20px;
    margin-top: 31px;
    margin-left: -51px;
    color: #eee;
}

.li_menu a {
    font-weight: normal;
}

.icon {
    font-size: 2em;
    /* Размер иконок */
    display: block;
    /* Блочный элемент */
}


.content,
a {
    flex: 1 0 auto;
    text-decoration: none;
    color: green;
    font-weight: bold;
    text-align: center;
}

.content a {
    margin-left: 91%;
}

a:hover{
    color: red;
}

.content img {
    display: block;
    margin-left: 10px;
    outline: 5px outset #637564;
    float: left;
}

.content img:hover {
    outline: none;
}

.content ul {
    color:blue;
    list-style-type: none;
}

.content h2, h3 {
    text-indent: 45px;
}

.footer {
    flex-shrink: 0;
    text-decoration: none;
    background-color: #637564;
}
.footer div {
    text-align: right;
    margin-top: 5px;
    margin-right: 5px;
}
.footer div a {
    color: black;
}

.footer div a:hover {
    color: red;
}
h3 {
    color: rgb(2, 88, 60);
    background-color: rgb(213, 219, 213);
    /*text-align: center; - располижить текст по центру*/
}

.catalog_menu {
    flex: 1 0 auto;
    text-decoration: none;
}

.catalog_menu a {
    text-decoration: none; /* убирает подчеркивание ссылки*/
    font-size: 18px;
    color: black;
    font-weight: 400;
    background-color: #eaeaea;
}
.catalog_menu li {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    padding-right: 50px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    color: #707070;
}

.catalog_menu li a:hover,
.catalog_menu li a:hover::after {
    content: " 🔍";
    color:green;
}

.catalog_menu li a:active {
    color: coral;
}

.catalog_menu li:nth-child(2)::before {
    content: " new !!!";
    color: magenta;
    text-transform: uppercase;
}

.cnt img {
    border: 4px groove rgb(198, 255, 202);
}

.ebout1 {
    display: inline;

}

.bay {
    padding-top: 30px;
}

.bay input {
    height: 50px;
    width: 200px;
    font-size: 20px;
    outline:2px solid coral;
}

.bay input:hover {
    background-color: coral;
    font-weight: bold;
    color:black;
}

.bay input:active {
    font-weight: bold;
    color:white;
    background-color: rgb(104, 138, 104);
}

.ebout {
    color: black;
    background: url(/img/abstract-low.jpg) no-repeat -95px 0px;
    border: groove; /* Стиль рамки вокруг параграфа */
    border-width: 3px 3px 5px 3px; /* Толщина границы */
    padding: 5px; /* Поля вокруг текста */
    width: 52%; /* Уменьшаем ширину рамки до размера текста */
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.ebout-block p,
.list-block .list {
    display: block;
    margin: 0 auto;
}

.ebout-block {
    margin-top: 400px;
}

.list {
    color: black;
    background: rgb(184, 193, 216);
    border: groove; /* Стиль рамки вокруг параграфа */
    border-width: 3px 3px 5px 3px; /* Толщина границы */
    padding: 5px; /* Поля вокруг текста */
    width: 52%; /* Уменьшаем ширину рамки до размера текста */
    text-align: left;
}

.list li::before {
    list-style-type: none; /* Стиль списка (точки, цифры) none без ничего*/
    content: "🔥";
}

.table {
    border: 2px solid rgb(104, 138, 104);
    border-collapse: collapse;
    margin-left: 40%;
    margin-bottom: 5px;
    width: 400px;
    height: 150px;
}

.table td {
    border: 2px solid rgb(104, 138, 104);
    padding-left: 3px;
    vertical-align: middle;
}

.table_name {
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}

.filial {
    text-align: center;
}

.input-text:hover,
.input-password:hover {
    color: red;
    background-color:rgb(218, 211, 211);
}

.input-text {
    text-transform: capitalize;
}

.map a {
    color:#eee;
    font-size:12px;
}

.map iframe {
    width: 100%;
    height: 374px;
    border: 2px solid #637564;
}
