html, body {
    margin: 0;
    height: 100%;   
}
body {
    display: flex;
    flex-direction: column;
}

.menu {
    background: #637564;
    /* Цвет фона */
    margin: 0;
    /* Убираем отступы */
    font-family: Arial, sans-serif;
    /* Шрифт */
}

li {
    display: inline-block;
    list-style: none;
    /* Убираем маркеры */
    width: 90px;
    /* Ширина */
    text-align: center;
    /* Выравниваем по центру */
}

.icon {
    font-size: 2em;
    /* Размер иконок */
    display: block;
    /* Блочный элемент */
}

.menu a {
    color: #fff;
    /* Белый цвет */
    text-decoration: none;
    /* Убираем подчёркивание у ссылок */
    padding: 0 0 5px;
    /* Поле снизу */
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}
h3 {
    color: rgb(6, 173, 117);
}